
<div class="container">
  <div class="center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <!--入力フォームの内容とtodo.titleを同期-->
        <input [(ngModel)]="todo.title"
          id="input_text1"
          type="text"
          length="140"
          class="form-control add-todo"
          placeholder="add-todo"
          (keydown.enter)="save()"
        >
        <button (click)="save()" class="btn btn-success pull-right add-todo">Add</button>
      </div>
    </div>
  </div>
  <hr class="col-sm-8 col-sm-offset-2">
    <div class="todo-list row">
      <div *ngFor="let todo of todos;let i=index;trackBy: myTrackBy" class="col-sm-8 col-sm-offset-2">

         <div class="card">
            <div class="card-body">
              <span *ngIf="!isEdit" (click)="isEdit=true">{{todos[i].title}}</span>
              <input *ngIf="isEdit"
                (focusout)="isEdit=false; update(todos[i].id, todos[i].title)"
                [(ngModel)]="todos[i].title"
                id="input_text"
                type="text"
                length="140"
                style="border:none; width:70%"
              >
              <button (click)="delete(todos[i])"
                type="button"
                class="btn btn-default
                pull-right deletebtn"
              >
                <i class="fa fa-trash "></i>
              </button>
              <!-- todoのチェックをいれる用のボタン　-->
              <button
                type="button"
                class="btn btn-success btn-circle
                pull-right deletebtn"
              >
              </button>

           </div>
        </div>
      </div>
    </div>
</div>
